html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #0001;
  padding: 5px 20px;
  width: 100%;
}

.top-nav .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.top-nav .search-bar {
  width: 30%;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.top-nav .search-bar input {
  flex: 1;
  padding: 6px;
  background-color: #D1D7DE;
  color: #000;
  border: 1px solid #0001;
  border-radius: 5px;
}

.top-nav .search-bar i {
  padding: 10px;
}

.top-nav .top-nav-icons {
  display: flex;
  gap: 40px;
  padding-left: 50px;
  padding-right: 30px;
  margin-right: 60px;
}


.container {
  display: flex;
  width: 100%;
  margin: 0 10px 10px 10px;
  max-width: 120%;
}

.vertical-sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  margin-top: 30px;
}

.vertical-sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-sidebar nav ul li a:hover,
.vertical-sidebar nav ul li a.active {
  background-color: #D6D6D6;
  border-radius: 30%;
}

.vertical-sidebar nav ul li {
  margin: 50px 0 20px 0;
}

.vertical-sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.vertical-sidebar nav ul li a i{
  color: #000;
}

.sidebar {
  padding: 0 5px;
  border-right: 1px solid #0001;
  border-left: 1px solid #0001;
}

.sidebar .sidebar-title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  gap: 3rem;
}


.sidebar nav ul {
  list-style: none;
  padding: 3px;
  margin: 0;
  padding-bottom: 50px;
  border-top: 1px solid #0001;
  border-bottom: 1px solid #0001;
}

.sidebar nav ul li {
  display: flex;
  align-items: center;
  margin: 8px 8px;
  font-size: 14px;
  font-weight: 500;
}

.sidebar nav ul h4 {
  margin-left: 14px;
}

.sidebar nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
  padding: 6px 8px;
  border-radius: 5px;
  transition: 0.3s ease;
}



.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  color: #0687FC;
  background-color: #E3F6FF;

}

.sidebar nav ul li a i {
  margin-right: 10px;
}

.sidebar nav ul li span {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #eee;
  margin-left: 20%;
  font-size: 15px;
}

.sidebar .profile-container {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 10px;
}
.sidebar .profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar .profile-info {
  display: flex;
  flex-direction: column;
}

.sidebar .profile-name {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.sidebar .profile-email {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.options {
  cursor: pointer;
  margin-left: 15px;
}

.options i {
  font-size: 20px;
  color: #555;
}

.main-section {
  flex: 3;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: auto;
}

.main-section .headbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
  background-color: #fff;
}

.headbar .headbar-title {
  font-size: 24px;
  font-weight: 550;
  margin-left: 10px;
}

.headbar .controls {
  display: flex;
  align-items: center;
}

.headbar .controls button {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #828282;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 8px;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}

.headbar .controls button:hover,
.headbar .controls button.active{
  background: #FBD13B;
  color: #444;
  font-weight: 600;
  font-size: 16px;
}

.headbar .controls button i {
  margin-right: 8px;
}

.image-container {
  display: flex;
  justify-content: center;
  /* padding-top: 1px; */
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 0;
}

.navbar-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.navbar-section button {
  background-color: #fff;
  color: #828282;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 1px;
  border: 1px solid #D1D7DE;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;

}


.navbar-section button:last-child{
  background-color: #eee;
}

.navbar-section button:hover,
.navbar-section button.active{
  background-color: #0687FC;
  color: #fff;
}


.content-container {
  display: flex;
  border-top: 1px solid #0001;
  border-bottom: 1px solid #0001;
  max-width: 100%;
}



.main-content {
  flex: 2;
  margin: 0 15px;
  justify-content: center;
  border-right: 1px solid #0001;  
}

.side-bar {
  flex: 1;
}

.post {
  background-color: #fff;
  margin-bottom: 13px;
  padding: 13px;
  max-width: 90%;
  margin: 0 15px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.post-header3 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.post-header .profile-img-rounded {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.post-header .profile-img-normal,
.post-header3 .profile-img-normal {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.post-header strong {
  font-size: 14px;
  color: #333;
}

.post-header small {
  color: #999;
}


.post-header3 strong {
  font-size: 14px;
  color: #333;
}

.post-header3 small {
  color: #999;
}

.post-content .mainn {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  
}
.post-wrap{
  display: flex;
}

.post-wrap3 .post-content p{
  margin-right: 25px;
  
}
.post3{
  margin:0 15px ;
}

.post3 img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

}


.post-content p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  justify-content: center;
}



.profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.small-div {
  display: flex;
  align-items: start;
  margin: 0 7px;
  padding: 0;
}


.photo-stack {
  display: flex;
  position: relative;
  width: auto;
}

.photo-stack img {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin-left: -10px;
}

.photo1 {
  z-index: 4;
  left: 0;
  top: 0;
}

.photo2 {
  z-index: 3;
  left: 20px;
  top: 0;
}

.photo3 {
  z-index: 2;
  left: 40px;
  top: 0;
}

.photo4 {
  z-index: 1;
  left: 60px;
  top: 0;
}

.photo-stack p {
  color: #333;
  font-size: 12px;
  margin-left: 90px;
}

p span {
  color: #226CE0;
  font-weight: 600;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.post-footer .poster {
  display: flex;
  font-size: 12px;
  gap: 2rem;
}

.post-footer .poster p i {
  margin-right: 5px;
}

.thin-line {
  max-width: 100%;
  height: 1px; /* Height of the line */
  background-color: #0001; /* Color of the line */
  margin: 0;
  text-align: center;
  align-items: center;
}

.sidebar-section {
  background-color: #fff;
  margin: 20px 20px;
  border-radius: 10px;

}

.sidebar-section h3 {
  padding: 10px;
}

h3 {
  margin-bottom: 10px;
}

.post3{
  display: flex;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 13px;
  max-width: 100%;
}


.post-header3{
  display: flex;
}

.admins {
  padding: 8px;
  margin: 0;
}

.top-contributors {
  list-style-type: decimal;
  padding: 8px;
  margin: 3px;
}

.admins li,
.top-contributors li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.admins li img,
.top-contributors li img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-right: 10px;
}

.admins li div,
.top-contributors li div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.top-contributors li span {
  color: blue;
  padding: 3px;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
}

.admins li p,
.top-contributors li p {
  padding: 3px;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
}

.admins li h4,
.top-contributors li h4 {
  padding: 3px;
  margin: 0;
  font-size: 16px;
  font-weight: 550;
}

@media (max-width: 1024px) {
  .top-nav .search-bar {
      width: 50%;
  }

  .top-nav .top-nav-icons {
      gap: 20px;
      padding-left: 30px;
      padding-right: 20px;
      margin-right: 40px;
  }

  .container {
      flex-direction: column;
      max-width: 100%;
  }

  .vertical-sidebar {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .sidebar,
  .main-section,
  .secondary-content {
      width: 100%;
      padding: 0;
      border: none;
  }

  .main-content,
  .secondary-content {
      flex-direction: column;
  }
}

@media (max-width: 768px) {
  .top-nav .search-bar {
      width: 70%;
  }

  .top-nav .top-nav-icons {
      padding-left: 20px;
      padding-right: 10px;
      margin-right: 20px;
  }

  .vertical-sidebar {
      display: none;
  }

  .sidebar nav ul li a {
      font-size: 14px;
  }

  .container {
      padding: 0;
      margin: 0;
  }

  .main-content {
      border-right: none;
  }
}

@media (max-width: 480px) {
  .top-nav .search-bar {
      width: 90%;
  }

  .top-nav .top-nav-icons {
      gap: 10px;
      padding-left: 10px;
      padding-right: 5px;
      margin-right: 10px;
  }

  .sidebar nav ul li a {
      font-size: 12px;
  }

  .main-content {
      padding: 10px;
  }

  .headbar .controls button {
      padding: 3px 5px;
      font-size: 12px;
  }

  .navbar-section button {
      padding: 5px 10px;
      font-size: 12px;
  }
}



